In [ ]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="root"

)

print(mydb)

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="root"

)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:

  print(x)

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="root",

  database="sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:

  print(x)

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="root",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE chips (type VARCHAR(255), price VARCHAR(255), quantity VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

In [ ]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="root",

  database="sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE chips ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="root",

  database="sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:

  print(x)

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="root",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Chocolate (type VARCHAR(255), price VARCHAR(255), quantity VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

In [ ]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="root",

  database="sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE Chocolate ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [ ]:

import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="root",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE icecream (type VARCHAR(255), price VARCHAR(255), quantity VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

In [ ]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="root",

  database="sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE icecream ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="root",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Veggies (type VARCHAR(255), price VARCHAR(255), quantity VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

In [ ]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="root",

  database="sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE Veggies ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [3]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="root",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Fruit (type VARCHAR(255), price VARCHAR(255), quantity VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

In [4]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="root",

  database="sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE Fruit ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [17]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="root",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Sweets (type VARCHAR(255), price VARCHAR(255), quantity VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'sweets' already exists

In [16]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="root",

  database="sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE Sweets ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

ProgrammingError: 1060 (42S21): Duplicate column name 'id'

In [19]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="root",

  database="Sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Cigarrettes (type VARCHAR(255), price VARCHAR(255), quantity VARCHAR(255), size VARCHAR(255), barcode VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'cigarrettes' already exists

In [20]:
import mysql.connector 

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="root",

  database="sprint3"

)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE Cigarretes ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

ProgrammingError: 1146 (42S02): Table 'sprint3.cigarretes' doesn't exist